<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707239863559-8kgnrutr38i9idonogi6d8718794sd8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707239863559-8kgnrutr38i9idonogi6d8718794sd8r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707239863559-5jlf3060jv21vmm54vpqo16nn7epc9fo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmgjzqDaAC8tVvd8d89ETJBJryEYAez3U</string>
	<key>GCM_SENDER_ID</key>
	<string>707239863559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.zosimovy.projects.zp</string>
	<key>PROJECT_ID</key>
	<string>zhytomyr-politechnic-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>zhytomyr-politechnic-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707239863559:ios:d044065a123370782411a2</string>
</dict>
</plist>